.productStyle {
    color:red;
    padding: 10px;
    margin:5px;
    border:2px dotted orange;
}
p {
    padding: 5px;
    margin: 5px;
    text-align: left;
    text-overflow: ellipsis;
}
.btn {
    margin: 2px;
}
.date {
    font-size: 12px;
    text-align: right;
    float: right;
}